.a, .b {
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 100px;
	color: white;
	text-align: center;
	font-size: 2em;
	box-sizing: border-box;
}

.a {
	float: left;
	background-color: #0074D9;
	border-color: #0074D9;
	fill: #0074D9;
}

.b {
	float: right;
	background-color: #01FF70;
	border-color: #01FF70;
	fill: #01FF70;
}

text {
	fill: white;
}

.container {
	position: absolute;
}

.transform-helper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: 2px solid red;
	transition: all 0.6s ease-out;
}

.transform-helper-bg {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 2px solid #999;
	box-sizing: border-box;
}

.max {
	width: 100%;
	height: 100%;
}

.screenshots {
	clear: both;
}

.screenshot-column {
	width: 33.333%;
	max-width: 200px;
	float: left;
	padding: 0 1em 0 0;
	box-sizing: border-box;
}

.screenshot-column img {
	width: 100%;
}
