@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro/sourcesanspro-regular-webfont.eot');
    src: url('fonts/SourceSansPro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/SourceSansPro/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro/sourcesanspro-semibold-webfont.eot');
    src: url('fonts/SourceSansPro/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('fonts/SourceSansPro/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro/sourcesanspro-bold-webfont.eot');
    src: url('fonts/SourceSansPro/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/SourceSansPro/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro/sourcesanspro-bold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro/sourcesanspro-black-webfont.eot');
    src: url('fonts/SourceSansPro/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro/sourcesanspro-black-webfont.woff') format('woff'),
         url('fonts/SourceSansPro/sourcesanspro-black-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro/sourcesanspro-black-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro/sourcesanspro-light-webfont.eot');
    src: url('fonts/SourceSansPro/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro/sourcesanspro-light-webfont.woff') format('woff'),
         url('fonts/SourceSansPro/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata/inconsolata-regular-webfont.eot');
    src: url('fonts/Inconsolata/inconsolata-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Inconsolata/inconsolata-regular-webfont.woff') format('woff'),
         url('fonts/Inconsolata/inconsolata-regular-webfont.ttf') format('truetype'),
         url('fonts/Inconsolata/inconsolata-regular-webfont.svg#inconsolataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata/inconsolata-bold-webfont.eot');
    src: url('fonts/Inconsolata/inconsolata-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Inconsolata/inconsolata-bold-webfont.woff') format('woff'),
         url('fonts/Inconsolata/inconsolata-bold-webfont.ttf') format('truetype'),
         url('fonts/Inconsolata/inconsolata-bold-webfont.svg#inconsolatabold') format('svg');
    font-weight: 500;
    font-style: normal;
}